body{
    font-family: 'Cairo', sans-serif;
    background-color: #eeeeee;
    border-top: 5px solid #879846;
 }
 .container {
    max-width: 750px;
}
.logo img{
    max-height: 80px;
}
.navbar-light .navbar-toggler{
    padding: 2px 4px;
    font-size: 1.05rem;
    box-shadow: 0px 1px 3px;
    border: 1px solid #343a40;
}
.cart-icon{
    font-size: 1.5rem;
}

.sub-menu{
    background: #39abf2;
    text-align: right;
    border-radius: 3px;
}
.sub-menu a{
    border-left: 1px solid #eeeeee;
    padding: 5px 10px;
    display: inline-block;
    color: #eeeeee;
    font-size: .9rem
}