body{
    font-family: 'Cairo', sans-serif;
    background-color: #eeeeee;
    border-top: 5px solid #879846;
    text-align: right;
 }
 .container {
    max-width: 750px;
}
.logo img{
    max-height: 80px;
}
.navbar-light .navbar-toggler{
    padding: 2px 4px;
    font-size: 1.05rem;
    box-shadow: 0px 1px 3px;
    border: 1px solid #343a40;
}
.cart-icon{
    font-size: 1.5rem;
}

.sub-menu{
    background: #39abf2;
    text-align: right;
    border-radius: 3px;
}
.sub-menu a{
    border-left: 1px solid #eeeeee;
    padding: 5px 10px;
    display: inline-block;
    color: #eeeeee;
    font-size: .9rem
}
.product .card-footer a{
    color: #ffffff;
    font-size: .9rem;
}
.category .content{
    height: 130px;
    font-size: .9rem;
    position: relative;
    top: -130px;
    margin-bottom: -130px;
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
}
.card-img-top{
    position: relative;
}
.category-title{
    font-size: 1rem;
    font-weight: bold;
}
.product, .category .content{
    box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.51);
}
.category .btn-section{
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: .7rem;
    padding: 5px 3rem;
}
.owl-carousel{
    direction:ltr;
}
.footer-bottom{
    background: rgb(26,89,143);
    background: linear-gradient(90deg, rgba(26,89,143,1) 0%, rgba(36,142,200,1) 100%);
    border-radius: 25px 25px 0px 0;
    line-height: 1rem;
}
#categories .owl-carousel .owl-nav .owl-prev,#categories .owl-carousel .owl-nav .owl-next {
    background:  rgba(100, 100, 100, .5) ;
    font-size: 30px ;
    position: absolute;
    width: 30px;
    bottom: 50%;
    left: 15px;
    color: #ffffff;
}
#categories .owl-carousel .owl-nav .owl-next {    
    right: 15px;
    left: auto;
}
.footer-bottom{
    line-height: 1.5rem;
}